<aside>
        <h3>¿Que puedo hacer?</h3>
      	   <p><a href="#">Informacion</a></p>
           <p><a href="#">Promociones</a></p>
           <p><a href="#">Canchitas</a></p>
           <p><%= link_to 'Asociados', panelAsociado_path %></p>
           
        </ul>
      </nav> 

       </p>
        <p>Ingresa a la red y unete a un equipo o puedes crear uno. Podras crear pichangas e invitar a otros peloteros. Hacer comentarios de las pichangas y dar calificaciones a otros peloteros. Ingresa al ranking de peloteos. Encuentra tus canchitas para pichanguear.</p>
      
      </aside>